body {
  background-color: rgb(155, 211, 233);
}

h1 {
  width: auto;
  border: 5px solid white;
  padding:25px;
  margin:50px;
  text-align: center;
}

p {
  width: auto;
  border: 5px dashed rgb(1, 5, 255);
  padding: 25px;
  margin: 50px;
  font-weight: bold;
  text-align: center;
}

.row {
  width: auto;
  border: 5px solid white;
  padding: 50px;
  margin: 50px;
}


#python, #javascript, #ruby {
  display: none;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}