body {
  background-color: gray;
}

h1 {
  width: auto;
  border: 5px solid black;
  padding:25px;
  margin:50px;
  text-align: center;
}

p {
  width: auto;
  border: 5px dashed black;
  padding: 25px;
  margin: 50px;
  font-weight: bold;
  text-align: center;
}

.row {
  width: auto;
  border: 5px solid black;
  padding: 50px;
  margin: 50px;
  font-size: x-small;

}

#python, #javascript, #ruby {
  display: none;
}